.container{
    background-color: #fff;
}

.header{
    background-color: #f9f9fb;
    padding: 50px 24px 30px 24px;
}

.headerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}
.headerTopLeft{}
.headerTopRight{
    color: #fb9400;
}
.headerTitle{
    font-weight: 500;
    font-size: 24px;
    color: #1b1b1b;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.headerSubTitle{
    font-weight: 400;
    font-size: 16px;
    color: rgba(151, 151, 151, 0.8);
}
.headetButton{}
